# Core
fastapi
uvicorn
pydantic
python-dotenv

# Database
pymongo
dnspython

# Vector Database
qdrant-client

# Agent Framework
langchain
langchain-core
langchain-google-genai
langgraph

# LLM
google-generativeai

# Embedding
sentence-transformers

# Web Search and Extraction
tavily-python
beautifulsoup4
trafilatura
requests

# Feedback/HITL
dspy-ai

# Testing
pytest

# UI (streamlit)
streamlit 

#toml
tomli